.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #151515;
  min-height: 74px;
}
