.intro__link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1;
  margin: 25.43% 0 0;
}

.intro__link:after {
  content: '';
  background-color: #D7D4D4;
  ;
  height: 2px;
  width: 123px;
  display: inline-block;
  margin: 0 30px;
  vertical-align: middle;
}
