.header__link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.29;
}

.header__link:hover {
  opacity: .8;
  transition: opacity .3s ease-in-out;
}
